<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<%= stylesheet_link_tag 'style' %>
	<meta charset="UTF-8">
	<title>Mwasibale Motors</title>
<script language="JavaScript1.2">

var howOften = 5; //number often in seconds to rotate
var current = 0;
var current_1 = 0//start the counter at 0
var current_3 = 0
var ns6 = document.getElementById&&!document.all; //detect netscape 6

// place your images, text, etc in the array elements here
var items = new Array();
    items[0]="<a href='link.htm' class='link'><img alt='image0 (9K)' src=' images/beating1_before.jpg' width='100' height='100'/><br>Before <br><%= @item.first %></a>"; //a linked image
    items[1]="<a href='link.htm' class='link'><img alt='image1 (9K)' src='/images/beating1_after.jpg' width='100' height='100' /><br>After<br><%= @item.last %></a>"; //a linked image
	
var items_1 = new Array();
    items_1[0]="<a href='link.htm' class='link'><img alt='image2 (9K)' src=' images/painting1_before.jpg' widith='100' height='100'/><br>Before<br><%= @item_1.first %></a>"; //a linked image
	items_1[1]="<a href='link.htm' class='link'><img alt='image3 (9K)' src='/images/painting1_after.jpg' widith='100' height='100'/><br>After<br><%= @item_1.last %></a>"; //a linked image

var items_3 = new Array();
    items_3[0]="<a href='link.htm' class='link'><img alt='image2 (9K)' src=' images/assembly1.jpg' widith='100' height='100'/><br><%= @item_3.first %></a>"; //a linked image
	items_3[1]="<a href='link.htm' class='link'><img alt='image3 (9K)' src='/images/assembly2.jpg' widith='100' height='100'/><br><%= @item_3.last %></a>";

function rotater() {
    document.getElementById("placeholder").innerHTML = items[current];
    current = (current==items.length-1) ? 0 : current + 1;
	document.getElementById("placeholder1").innerHTML = items_1[current_1];
    current_1 = (current_1==items_1.length-1) ? 0 : current_1 + 1;
	document.getElementById("placeholder3").innerHTML = items_3[current_3];
    current_3 = (current_3==items_3.length-1) ? 0 : current_3 + 1;
    setTimeout("rotater()",howOften*1000);
}

function rotater() {
    if(document.layers) {
        document.placeholderlayer.document.write(items[current]);
		document.placeholderlayer.document.write(items_1[current_1]);
		document.placeholderlayer.document.write(items_1[current_2]);
		document.placeholderlayer.document.write(items_1[current_3]);
        document.placeholderlayer.document.close();
    }
    if(ns6)document.getElementById("placeholderdiv").innerHTML=items[current]
        if(document.all)
            placeholderdiv.innerHTML=items[current];
    if(ns6)document.getElementById("placeholderdiv1").innerHTML=items_1[current_1]
        if(document.all)
            placeholderdiv.innerHTML=items_1[current_1];
	if(ns6)document.getElementById("placeholderdiv3").innerHTML=items_3[current_3]
        if(document.all)
            placeholderdiv.innerHTML=items_3[current_3];

    current = (current==items.length-1) ? 0 : current + 1;
	current_1 = (current_1==items_1.length-1) ? 0 : current_1 + 1;
	current_3 = (current_3==items_3.length-1) ? 0 : current_3 + 1;//increment or reset
    setTimeout("rotater()",howOften*1000);
}
window.onload=rotater;
//-->
</script>
	<style>
	   #main{
		text-align: left;
		font-family: Arial,Helvetica,sans-serif;
		color: white;
		top: 0px;
		left: 20%;
      }
	  .call{
		color:white;
		font-size: 15px;
	  }
	  a {
		height:500;
		text-decoration:none;
	  }add_blog
	  .link{
		color:black;
	  }
	  input{
		padding: 2px 2px 2px 2px;
		margin: 2%;
	  }
	  #placeholderlayer2{
		display:none;
	  }
	</style>
</head>
<body>
	<div id="header">
	    
		<div class="wrapper clearfix">
		  <ul id="navigation">
				<li class="selected">
					<a href="/authentication">Home</a>
				</li>
				<li>
					<a href="/authentication/about">About</a>
				</li>
				<li>
					<a href="/authentication/blog">Blog</a>
				</li>
				<li>
					<a href="/authentication/gallery">Gallery</a>
				</li>
				<li>
					<a href="/authentication/contact">Contact Us</a>
				</li>
				<li>
					<a href="/admin">Admin</a>
				</li>
			</ul>
			<div id="logo">
			  <a href="index.html"><img src="images/logo1.jpg" alt="LOGO" width="200" height="200"></a>
			</div>
		  
			
		</div>
	</div>
	<div id="contents">
		<div id="adbox">
			<div class="wrapper clearfix">
				<div class="info">
				  <h1 style="color:blue;">Mwasibale Motors</h1>
				  <h2>The caring car owner's choice</h2>
					<p>
						We offer most affordable prices while maintaing the best standards for you our beloved customers.
						Take a tour of our services and have the appreciation of the work of hand being done by our personnel.
					</p>
				</div>
			  <div class="info1" align="left">
				  In Area 47 Sector 5, Adjacent to Zodiac Broadcasting Station opposite Masa maize mill
				  <address>
					P.O Box 40500<br>
					Kanengo <br>
					Lilongwe 4 <br>
					Phones: +265(0) 881 086 660 <br>
					Email: mwasibalemotors412@gmail.com <br>
				  </address>
				</div>
			</div>
			<div class="highlight">
				<h2>Mode your property - <i>Choose Mwasibale Motors</i></h2>
			</div>
		</div>
		<div class="body clearfix">
			<div class="click-here">
				<h1>Promotion offers!</h1>
				<a href="/authentication" class="btn2">Click Here!</a>
			</div>
			<p style="font-size:12px;">
				Uncertainities do occur.....
				Worry not, we are always there for you to offer that help during your moment of need.
				Just call one of our hot-lines below and we will be avalable to haul or offer any other service:
				<br>
			</p>
			<div id="newsletter" class="call">
				<form>
				  <input type="submit" value="0999999999" name="airtel">
				  <input type="submit" value="0888888888" name="tnm">
				  <input type="submit" value="0111111111" name="mtl">
				  <input type="submit" value="0222222222" name="access">
				</form>
			</div>
			<div class="call">
			You may also log your issues <a href ="#">here</a>
			</div>
		</div>
	</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			<li>
				<h3><a href="/authentication/index/blog.html">Panel Beating</a></h3>
				<layer id="placeholderlayer"></layer><div id="placeholderdiv"></div>
			</li>
		
			<li>
				<h3><a href="/authentication/index/blog.html">Spray Painting</a></h3>
				<layer id="placeholderlayer1"></layer><div id="placeholderdiv1"></div>
			</li>
			<li>
				<h3><a href="/authentication/index/blog.html">Motor Assembly</a></h3>
				<layer id="placeholderlayer3"></layer><div id="placeholderdiv3"></div>
			</li>
		</ul>
		<div class="body">
			<div class="wrapper clearfix">
				<div id="links">
					<div>
						<h4>Social</h4>
						<ul>
							<li>
								<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank">Add Google + circles</a>
							</li>
							<li>
								<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank">Like us on Facebook</a>
							</li>
							<li>
								<a href="http://freewebsitetemplates.com/go/youtube/" target="_blank">Find us on Youtube</a>
							</li>
							<li>
								<a href="http://freewebsitetemplates.com/go/youtube/" target="_blank">Follow us on Twitter</a>
							</li>
						</ul>
					</div>
					<div>
						<h4>Heading placeholder</h4>
						<ul>
							<li>
								<a href="/authentication/index/index.html">Link Title 1</a>
							</li>
							<li>
								<a href="/authentication/index/index.html">Link Title 2</a>
							</li>
							<li>
								<a href="/authentication/index/index.html">Link Title 3</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="newsletter">
					<h4>Issues</h4>
					<p>
						Sign in to log your issues
					</p>
					<form action="/authentication" method="post">
						<input type="text" value="">
						<input type="submit" value="Sign In!">
					</form>
				</div>
				<p class="footnote">
					© Copyright © <%= Date.today.year %>.	Mwasibale Motors. All rights reserved
				</p>
			</div>
		</div>
	</div>
</body>
</html>
